#show-more-container {
    text-align:center;
    margin-top:5vh;
    margin-bottom:5vh;
}

#grant-selector {
    display:inline-block;
    width:300px;
}

.faculty-card {
    border-top: 1px dashed #8c8b8b;
}

#response-container {

}
