#main-row {
    height:100vh;
}

#nav-sidebar {
    height:100vh;
    background-color:#222222;
    position:absolute;
    top:0;
    left:0;
}

.main-content {
    margin-top:5vh;
    //width:70vw;
}

#manual-grant-form {
    margin-left:1vw;
}