<style>
.faculty-matches-container {
    display:block;
}
.faculty-card {
    display:block;
    width:100%;
    margin-bottom:3vh;
    height:auto;
    overflow:auto;
}
.faculty-card-left {
    float:left;
}
.faculty-card-right {
    float:right;
}
</style>

<div class="faculty-matches-container">
    {% for faculty in faculty_matches %}
    <!--can use as faculty card-->
    <div class="faculty-card">
        <div class="faculty-card-left">
            <!--Should link to the faculty's page-->
            <h3>{{loop.index}}) <a>Faculty Name</a></h3>
            <h4>Department</h4>
            <p>Description</p>
        </div>
        <div class="faculty-card-right">
            <img src="http://placehold.it/200x200">
        </div>
    </div>
    {% endfor %}

</div>