<div class="faculty-matches-container">
    {% for faculty in faculty_matches %}
    <hr>
    <!--can use as faculty card-->
    <div class="faculty-card">
        <div class="faculty-card-right">
            <!--<img src="http://placehold.it/200x200">-->
            <img src="{{faculty.faculty_img_url}}" class="faculty-card-img">
        </div>
        <div class="faculty-card-left">
            <!--Should link to the faculty's page-->
            <h3>{{loop.index}}) <a href="{{faculty.faculty_site_url}}" target="_blank">{{faculty.faculty_name}}</a> ({{faculty.dist}})</h3>
            <h4>{{faculty.department}}</h4>
            {% if (faculty.description == None) %}
            No data on VCResearch. (Refer to their personal webpage)
            {% else %}
            <p>{{faculty.description}}</p>
            {% endif %}
        </div>

    </div>
    {% endfor %}

</div>