<h2>Grant Search</h2>

<div id="grant-card-container">
{{ k_grants_html|safe }}
</div>

<div id="show-more-container">
    <button type="button" id="show-more-grants-btn" class="btn btn-outline-primary">Show more</button>
</div>





    <!--[-->
        <!--'grant_title',-->
        <!--'grant_description',-->
        <!--'grant_posted_date',-->
        <!--'grant_closing_date',-->
        <!--'grant_info_url',-->
        <!--'grant_sponsor',-->
        <!--'grant_award_floor',-->
        <!--'grant_award_ceiling',-->
        <!--'grant_db_insert_date'-->
    <!--]-->