<!DOCTYPE html>
<html lang="en">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>


<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/page.css') }}">

<script type="text/javascript" src="{{ url_for('static', filename='js/page.js') }}"></script>


{% for css_file in css_files %}
<link rel=stylesheet type=text/css href="{{ css_file }}">
{% endfor %}

{% for js_file in js_files %}
<script type="text/javascript" src="{{ js_file }}"></script>
{% endfor %}


<head>
    <meta charset="UTF-8">
    <title>BRDO</title>
</head>
<body>

<div class="container" id="main-container">
    <div class="row" id="main-row">
        <div id="nav-sidebar">
            <ul id="nav-sidebar-ul" class="sidebar-nav">
            {% for tab in tabs_d %}
                <li class="sidebar-li"><a class="sidebar-a" href="{{tab.route}}"><i class="material-icons list-bullet">chevron_right</i> {{ tab.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="main-content">
            <!--SHOULD RENDER SPECIFIC INTO HERE-->
            {{ main_content|safe }}
        </div>
    </div>
</div>

</body>
</html>